In [242]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
mlb_salaries = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/mlbSalaries.csv')
stats = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/mlb2019stats.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [243]:
mlb_salaries.head()

   year                  team             name   salary  playerID
0  2019  arizona-diamondbacks  Eduardo Escobar  6166666    500871
1  2019  arizona-diamondbacks       Robbie Ray  6050000    592662
2  2019  arizona-diamondbacks   Taijuan Walker  5025000    592836
3  2019  arizona-diamondbacks        Jake Lamb  4825000    571875
4  2019  arizona-diamondbacks       Adam Jones  4500000    430945

In [244]:
print(stats.columns)
#stats.columns = column_names 
dropped_cols = [0,34,36,38,39,40,41,42,43,44,45,46,47]
stats.drop(stats.columns[dropped_cols],axis=1,inplace=True)
print(stats.columns)

Index(['playerID', 'nameFirst', 'nameLast', 'bats', 'throws', 'age', 'year',
       'stints', 'teamID', 'lg', 'G', 'tap', 'AB', 'R', 'H', 'db', 'tr', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'hbp', 'SH', 'SF', 'GIDP', 'avg',
       'obp', 'slg', 'woba', 'PRO', 'GURU', 'ROTO', 'pos1', 'g1', 'pos2', 'g2',
       'pos3', 'g3', 'pos4', 'g4', 'pos5', 'g5', 'mlbam_id',
       ' baseball_prospectus_id ', 'n2019'],
      dtype='object')
Index(['nameFirst', 'nameLast', 'bats', 'throws', 'age', 'year', 'stints',
       'teamID', 'lg', 'G', 'tap', 'AB', 'R', 'H', 'db', 'tr', 'HR', 'RBI',
       'SB', 'CS', 'BB', 'SO', 'IBB', 'hbp', 'SH', 'SF', 'GIDP', 'avg', 'obp',
       'slg', 'woba', 'PRO', 'GURU', 'pos1', 'pos2'],
      dtype='object')

In [245]:
stats.head()

,nameFirst,nameLast,bats,throws,age,year,stints,teamID,lg,G,...,SF,GIDP,avg,obp,slg,woba,PRO,GURU,pos1,pos2
0,Jose,Abreu,R,R,32,2019,1,CHA,AL,159.0,...,10.0,24.0,0.283912,0.330447,0.503155,0.354834,245.90,79.642904,1B,NaN
1,Ronald,Acuna,R,R,21,2019,1,ATL,NL,156.0,...,1.0,8.0,0.279553,0.365169,0.517572,0.380365,270.82,104.352687,OF,NaN
2,Cristhian,Adames,B,R,27,2019,1,SFN,NL,10.0,...,0.0,0.0,0.318182,0.375000,0.363636,0.336667,8.08,7.644153,2B,3B
3,Willy,Adames,R,R,23,2019,1,TBA,AL,152.0,...,1.0,9.0,0.254237,0.316695,0.418079,0.320257,187.03,49.147818,SS,NaN
4,Matt,Adams,L,R,30,2019,1,WAS,NL,111.0,...,1.0,7.0,0.225806,0.276276,0.464516,0.314294,104.66,32.037226,1B,NaN

In [246]:
for index, rows in stats.iterrows():
  stats.at[index,'nameFirst'] += ' ' + stats.at[index, 'nameLast']
stats.drop(stats.columns[1], axis = 1, inplace = True)
stats.rename(columns = {'nameFirst':'name'}, inplace = True)
stats.head()

,name,bats,throws,age,year,stints,teamID,lg,G,tap,...,SF,GIDP,avg,obp,slg,woba,PRO,GURU,pos1,pos2
0,Jose Abreu,R,R,32,2019,1,CHA,AL,159.0,693.0,...,10.0,24.0,0.283912,0.330447,0.503155,0.354834,245.90,79.642904,1B,NaN
1,Ronald Acuna,R,R,21,2019,1,ATL,NL,156.0,712.0,...,1.0,8.0,0.279553,0.365169,0.517572,0.380365,270.82,104.352687,OF,NaN
2,Cristhian Adames,B,R,27,2019,1,SFN,NL,10.0,24.0,...,0.0,0.0,0.318182,0.375000,0.363636,0.336667,8.08,7.644153,2B,3B
3,Willy Adames,R,R,23,2019,1,TBA,AL,152.0,584.0,...,1.0,9.0,0.254237,0.316695,0.418079,0.320257,187.03,49.147818,SS,NaN
4,Matt Adams,L,R,30,2019,1,WAS,NL,111.0,333.0,...,1.0,7.0,0.225806,0.276276,0.464516,0.314294,104.66,32.037226,1B,NaN

In [247]:
twentynineteen_salaries = mlb_salaries.loc[mlb_salaries['year'] == 2019]
twentynineteen_salaries.shape
twentynineteen_salaries.tail(20)

      year                  team               name   salary  playerID
2268  2019  washington-nationals          Yan Gomes  7083333    543228
2269  2019  washington-nationals     Anibal Sanchez  6000000    434671
2270  2019  washington-nationals     Sean Doolittle  6000000    448281
2271  2019  washington-nationals  Stephen Strasburg  5000000    544931
2272  2019  washington-nationals     Howie Kendrick  4000000    435062
2273  2019  washington-nationals        Kurt Suzuki  4000000    435559
2274  2019  washington-nationals        Trea Turner  3725000    607208
2275  2019  washington-nationals     Michael Taylor  3250000         0
2276  2019  washington-nationals         Matt Adams  3000000    571431
2277  2019  washington-nationals  Jeremy Hellickson  1900000    476451
2278  2019  washington-nationals           Joe Ross   704256    605452
2279  2019  washington-nationals          Juan Soto   578300    665742
2280  2019  washington-nationals       Wander Suero   562500    593833
2281  2019  washington-nationals      Victor Robles   557800    645302
2282  2019  washington-nationals        Javy Guerra   554829    457915
2283  2019  washington-nationals      Daniel Hudson   491965    543339
2284  2019  washington-nationals      Gerardo Parra   429696    467827
2285  2019  washington-nationals  Hunter Strickland   419355    519326
2286  2019  washington-nationals      Tanner Rainey   402840    663432
2287  2019  washington-nationals        Erick Fedde   355096    607200

In [248]:
twentynineteen_salaries.drop(columns = ['playerID'], axis = 1, inplace = True)
twentynineteen_salaries.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   year                  team             name   salary
0  2019  arizona-diamondbacks  Eduardo Escobar  6166666
1  2019  arizona-diamondbacks       Robbie Ray  6050000
2  2019  arizona-diamondbacks   Taijuan Walker  5025000
3  2019  arizona-diamondbacks        Jake Lamb  4825000
4  2019  arizona-diamondbacks       Adam Jones  4500000

In [249]:
for index, row in stats.iterrows():
  if stats.at[index, 'name'] not in list(twentynineteen_salaries['name']):
    stats.drop(labels = index, axis = 0, inplace = True)

In [250]:
player_salaries = {}
for index,row in twentynineteen_salaries.iterrows():
  player_salaries[twentynineteen_salaries.at[index,'name']] = twentynineteen_salaries.at[index,'salary']

In [251]:
stats['salary'] = ''
for index, row in stats.iterrows():
  stats.at[index,'salary'] = player_salaries[stats.at[index,'name']]
stats.tail()

,name,bats,throws,age,year,stints,teamID,lg,G,tap,...,GIDP,avg,obp,slg,woba,PRO,GURU,pos1,pos2,salary
628,Christian Yelich,L,R,27,2019,1,MIL,NL,130.0,580.0,...,8.0,0.329243,0.429310,0.670757,0.459552,266.54,182.170007,OF,NaN,9750000
631,Bradley Zimmer,L,R,26,2019,1,CLE,AL,9.0,14.0,...,0.0,0.000000,0.071429,0.000000,0.051429,0.72,0.005798,OF,NaN,518924
632,Ryan Zimmerman,R,R,34,2019,1,WAS,NL,52.0,190.0,...,4.0,0.257310,0.321053,0.415205,0.322105,61.20,24.462459,1B,NaN,18000000
633,Ben Zobrist,B,R,38,2019,1,CHN,NL,47.0,176.0,...,6.0,0.260000,0.357955,0.313333,0.313409,55.16,21.084341,2B,OF,3086022
634,Mike Zunino,R,R,28,2019,1,TBA,AL,90.0,289.0,...,4.0,0.165414,0.231834,0.312030,0.241384,69.76,11.194889,C,NaN,4447500

In [252]:
#Add column for OPS - which is a key metric that represents on base percentage + slugging percentage
stats['ops'] = ""
for index,row in stats.iterrows():
  stats.at[index,'ops'] = stats.at[index, 'obp'] + stats.at[index, 'slg']

In [253]:
#convert 2019 salary column to millions
for index,row in stats.iterrows():
  stats.at[index,'salary'] = stats.at[index, 'salary']/1000000

In [254]:
stats.drop(['stints','year','lg'], axis = 1, inplace = True)
stats.head(20)

,name,bats,throws,age,teamID,G,tap,AB,R,H,...,avg,obp,slg,woba,PRO,GURU,pos1,pos2,salary,ops
0,Jose Abreu,R,R,32,CHA,159.0,693.0,634.0,85.0,180.0,...,0.283912,0.330447,0.503155,0.354834,245.90,79.642904,1B,NaN,16.015,0.833602
3,Willy Adames,R,R,23,TBA,152.0,584.0,531.0,69.0,135.0,...,0.254237,0.316695,0.418079,0.320257,187.03,49.147818,SS,NaN,0.5624,0.734774
4,Matt Adams,L,R,30,WAS,111.0,333.0,310.0,42.0,70.0,...,0.225806,0.276276,0.464516,0.314294,104.66,32.037226,1B,NaN,3.0,0.740792
6,Ehire Adrianza,B,R,29,MIN,83.0,234.0,202.0,34.0,55.0,...,0.272277,0.349138,0.415842,0.334829,78.35,32.184009,3B,SS,1.3,0.76498
8,Nick Ahmed,R,R,29,ARI,158.0,625.0,556.0,79.0,141.0,...,0.253597,0.315705,0.437050,0.323952,202.47,53.517840,SS,NaN,3.6625,0.752755
9,Hanser Alberto,R,R,26,BAL,139.0,550.0,524.0,62.0,160.0,...,0.305344,0.329068,0.421756,0.326509,179.58,50.745400,2B,3B,0.578,0.750823
10,Ozzie Albies,B,R,22,ATL,160.0,702.0,640.0,102.0,189.0,...,0.295312,0.351852,0.500000,0.366211,257.08,90.078882,2B,NaN,1.0,0.851852
11,Jorge Alfaro,R,R,26,MIA,130.0,465.0,431.0,44.0,113.0,...,0.262181,0.311828,0.424594,0.321204,149.36,42.937797,C,1B,0.57,0.736422
13,Austin Allen,L,R,25,SDN,34.0,71.0,65.0,4.0,14.0,...,0.215385,0.281690,0.276923,0.257465,18.28,5.765063,C,1B,0.2984,0.558613
14,Greg Allen,B,R,26,CLE,89.0,256.0,231.0,30.0,53.0,...,0.229437,0.289683,0.346320,0.279727,71.61,17.716177,OF,NaN,0.370599,0.636003
16,Albert Almora,R,R,25,CHN,130.0,363.0,339.0,41.0,80.0,...,0.235988,0.270950,0.380531,0.278981,101.27,21.938959,OF,NaN,0.56253,0.651481
17,Pete Alonso,R,R,25,NYN,161.0,693.0,597.0,103.0,155.0,...,0.259631,0.357864,0.582915,0.395758,274.26,118.494294,1B,NaN,0.555,0.940779
18,Yonder Alonso,L,R,32,COL,121.0,335.0,292.0,34.0,58.0,...,0.198630,0.295522,0.345890,0.288657,96.70,23.594115,1B,NaN,0.205896,0.641413
20,Jose Altuve,R,R,29,HOU,124.0,548.0,500.0,89.0,149.0,...,0.298000,0.352834,0.550000,0.382445,209.58,90.023827,2B,SS,9.5,0.902834
21,Yordan Alvarez,L,R,22,HOU,87.0,369.0,313.0,58.0,98.0,...,0.313099,0.411924,0.654952,0.445339,164.33,121.651088,OF,NaN,0.337192,1.066876
24,Tim Anderson,R,R,26,CHA,123.0,518.0,498.0,81.0,167.0,...,0.335341,0.357143,0.508032,0.372838,193.13,79.157035,SS,NaN,1.4,0.865175
25,Elvis Andrus,R,R,30,TEX,147.0,648.0,600.0,81.0,165.0,...,0.275000,0.313272,0.393333,0.309259,200.40,46.256037,SS,NaN,15.25,0.706605
28,Orlando Arcia,R,R,24,MIL,152.0,546.0,494.0,51.0,110.0,...,0.222672,0.283088,0.350202,0.279414,152.56,28.650479,SS,NaN,0.5657,0.633291
29,Nolan Arenado,R,R,28,COL,155.0,662.0,588.0,102.0,185.0,...,0.314626,0.379154,0.583333,0.406420,269.05,126.766320,3B,NaN,26.05,0.962487
31,Luis Arraez,L,R,22,MIN,92.0,366.0,326.0,54.0,109.0,...,0.334356,0.398907,0.438650,0.372760,136.43,63.330723,2B,OF,0.361064,0.837557

In [255]:
#Read in dataframe which has the wins above replacement for each player during the 2019 season.
#Our goal is to map each player in stats to their WAR from this data frame
war = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/FanGraphs_Leaderboard.csv')
war.head()

,Name,playerid,Team,Pos,PA,IP,Primary WAR,Total WAR
0,Mike Trout,10155,Angels,CF,600.0,NaN,8.294552,8.3
1,Alex Bregman,17678,Astros,3B/SS,690.0,NaN,8.148545,8.1
2,Cody Bellinger,15998,Dodgers,RF,660.0,NaN,7.696912,7.7
3,Jacob deGrom,10954,Mets,P,NaN,204.0,6.935872,7.6
4,Gerrit Cole,13125,Astros,P,NaN,212.1,7.469904,7.4

In [256]:
#Before mapping names between the datasets we must get rid of any
#inconsistencies in the naming (remove Jr. and Sr. suffixes from both)
import re
for index,rows in stats.iterrows():
  if re.search('Jr.|Sr.',stats.at[index,'name']):
    stats.at[index,'name'] = stats.at[index,'name'][0:-4]
for index, rows in war.iterrows():
  if re.search('Jr.|Sr.',war.at[index,'Name']):
    war.at[index,'Name'] = war.at[index,'Name'][0:-4]

#Alleviate one more issue with a last name inconsistency
war.at[526,'Name'] = 'Dee Gordon'

#Alleviate first name issues: Write every player as the first two letters of their first name
#and then there last name to alleviate inconsistencies in nicknames between datasets
#For example some payers are referred to by nickname in war and full name in the 2019 stats dataframes
#This code will alleviate this issue and allow us to connect the two datasets via name
for index, rows in war.iterrows():
  name_split = war.at[index,'Name'].split()
  if re.match('[A-Z]\.', name_split[1]):
    #print(name_split)
    name_split[1] = name_split[2]
  war.at[index,'Name'] = name_split[0][0:2] + ' ' + name_split[1]
  #print(war.at[index,'Name'])
for index, rows in stats.iterrows():
  name_split = stats.at[index,'name'].split()
  if re.match('[A-Z]\.', name_split[1]):
    name_split[1] = name_split[2]
  stats.at[index,'name'] = name_split[0][0:2] + ' ' + name_split[1]
  #print(stats.at[index,'name'])

In [257]:
#Create a dictionary mapping each player to their WAR score
#add this as a column to the stats dataframe
players_war = {}
stats['WAR'] = ''
for index, rows in war.iterrows():
  players_war[war.at[index,'Name']] = war.at[index, 'Total WAR']
for index, rows in stats.iterrows():
  stats.at[index,'WAR'] = players_war[stats.at[index,'name']]

In [258]:
stats.head()

,name,bats,throws,age,teamID,G,tap,AB,R,H,...,obp,slg,woba,PRO,GURU,pos1,pos2,salary,ops,WAR
0,Jo Abreu,R,R,32,CHA,159.0,693.0,634.0,85.0,180.0,...,0.330447,0.503155,0.354834,245.90,79.642904,1B,NaN,16.015,0.833602,1.6
3,Wi Adames,R,R,23,TBA,152.0,584.0,531.0,69.0,135.0,...,0.316695,0.418079,0.320257,187.03,49.147818,SS,NaN,0.5624,0.734774,3.3
4,Ma Adams,L,R,30,WAS,111.0,333.0,310.0,42.0,70.0,...,0.276276,0.464516,0.314294,104.66,32.037226,1B,NaN,3.0,0.740792,-0.2
6,Eh Adrianza,B,R,29,MIN,83.0,234.0,202.0,34.0,55.0,...,0.349138,0.415842,0.334829,78.35,32.184009,3B,SS,1.3,0.76498,0.7
8,Ni Ahmed,R,R,29,ARI,158.0,625.0,556.0,79.0,141.0,...,0.315705,0.437050,0.323952,202.47,53.517840,SS,NaN,3.6625,0.752755,3.3